.root {
    display: flex;
    justify-content: center;

    li {
        display: inline-block;
        border: 1px solid #fe5f1e;
        border-radius: 15px;
        padding: 0 6px;
        margin-right: 10px;
        cursor: pointer;
        &:hover {
            background-color: bisque;
        }

    }
    :global {
        .selected {
            background-color: #fe5f1e;
            & a{
                color: #ffffff;
            }
        }
    }
}